header a.active {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #73322E;
}


.top-header li {
    float: left;
    margin-right: 40px;
}

.input-group .form-control{
font-family: 'Noto Serif', serif;	
}

.reg-area {
    float: right;
}

.pluso-area {
    float: right;
    background: url(../img/plsn.png) 0 0 no-repeat;
    width: 33px;
    height: 33px;
    margin-top: 10px;
    margin-right: 42px;
}

a.activers:hover, 
a.activers:focus{
	color: #fff !important;
}

.reg-area {
    margin-top: 16px;
}

.history-area:before {
    background: url(../img/kj.png) 0 0 no-repeat;
    width: 60px;
    height: 65px;
    content: '';
    position: absolute;
    margin-left: -50px;
    margin-top: 14px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    padding-right: 29px !important;
}



.top-header {
    padding-bottom: 0;
    border-bottom: 1px solid #eee;
    padding-top: 0;
}

.logo {
    width: 220px;
    height: 157px;
    background: url(../img/logo.png) 0 0 no-repeat;
    margin-top: -42px;
    margin-bottom: 10px;
}


.top-header li a {
    padding-bottom: 8px;
    display: block;
    color: #73322e;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
    padding-top: 6px;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 50px;
}


.top-header a{
	text-decoration: none;
}

a.activers {
    background: #304457;
    color: #fff;
    height: 34px;
    display: inline-block;
    border-radius: 4px;
    padding-right: 15px;
    padding-top: 6px;
    margin-top: -9px;
    margin-left: 24px;
    padding-left: 28px !important;
    padding-right: 30px;
}


.history-area h3 {
    font-family: 'Noto Serif', serif;
    color: #212121;
    font-size: 21px;
    font-weight: 600;
    margin-top: 21px;
    margin-bottom: 9px;
}

.history-area {
    margin-left: 50px;
    margin-top: 11px;
    float: right;
}

.history-area h4{
	color: #757575;
	font-family: 'Noto Serif', serif;
	font-size: 14px;
}


.reg-area{
	font-family: 'Noto Serif', serif;
}

.reg-area a {
    font-size: 14px;
    padding-left: 15px;
    font-weight: 600;
    padding-top: 9px;
}

button.btn.btn-secondary{
	color: #73322E;
}

button.btn.btn-secondary:before {
    content: '';
    background: url(../img/sl.png) 0 0 no-repeat !important;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 3px;
    margin-top: 2px;
}


button.btn.btn-secondary{
	background: #73322E;
}

.top-header li a:hover{
	color: #304457;
}

.top-header li a.active{
	    color: #73322e;
}

.pluso-area:hover{
	opacity: 0.8;
}

.reg-area a:hover{
	opacity: 0.8;
}

.reg-area a.activers:hover{
	opacity: 1;
}




.ava-img-area {
    float: right;
    display: inline-block;
    cursor: pointer;
}


a.exit {
    float: right;
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
    margin-top: 13px;
    color: #73322E;
    font-size: 20px;
}

.ava-img-area img {
    margin-top: 7px;
    margin-right: 10px;
    border-radius: 50px;
    display: inline-block;
    width: 34px;
    height: 34px;
    object-fit: cover;
}

.ava-img-area span {
    display: inline-block;
    margin-top: -26px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 600;
}

.ava-img-area span:after {
    content: '\f078';
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 9px;
    margin-top: 2px;
    margin-left: 4px;
}

ul.dropdown-menu li {
    margin-right: 0;
    padding-right: 0;
    width: 100%;
}



.dropdown-menu .divider{
	margin-top: 15px;
}

ul.dropdown-menu a {
    height: 34px;
    padding-top: 7px;
}

.navbar-fixed-top .ava-img-area span {
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    max-width: 156px;
    min-width: 76px;
}

.navbar-fixed-top .ava-img-area {
    float: right;
    display: inline-block;
    cursor: pointer;
    margin-top: 0px;
    margin-right: 25px;
}

.navbar-fixed-top a.exit i {
    color: #fff;
    margin-right: 10px;
    margin-left: -20px;
}

ul.dropdown-menu .exit {
    display: none;
}


.navbar-header.open .dropdown-menu{
	display: block;
}



.ava-img-area.dropdown .pluso-area {
    position: absolute;
    left: -78px;
    margin-top: 9px;
}

.ava-img-area span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    max-width: 155px;
}